# --- Django ---
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# --- Database ---
# Use this to run PostgreSQL.
# Example:
# DATABASE_URL=postgres://myuser:mypassword@localhost:5432/hajiri
DATABASE_URL=

